<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link 
    
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
         rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>PORTFOLIO</title>  
<div class="frame">
  <div class="main_frame">

    <!-- LEFT COLUMN -->
    <div class="left_frame">

  <!-- Box 1: Image + Name -->
<div class="left_1">
  <!-- Photo -->
  <div class="left_1-1">
    <img src="/author/images/person.png" width="156" height="142" alt="Person">
  </div>

  <!-- Name -->
  <div class="left_1-2">
    <%= user.name %>
  </div>
</div>


  <!-- Other boxes -->
  <div class="left_1-3"></div>
  <div class="left-icons"></div>

  <div class="marginer"></div>
  <div class="left_2"></div>
  <div class="marginer"></div>
  <div class="left_3"></div>
  <div class="marginer"></div>
  <div class="left_4"></div>
  <div class="marginer"></div>
  <div class="left_5"></div>

</div>

    <!-- MIDDLE AND RIGHT COLUMNS -->
    <div class="midd_frame"></div>
    <div class="right_frame"></div>

  </div>
</div>


</html>