.frame {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}

.main_frame {
    position: relative;
    width: 1440px; 
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background-color: #f7f6b9;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main_frame .midd_frame {
    position: relative;
    width: 976px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}

.right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
}

.left_1 {
    position: relative;
    width: 228px;
    height: 267px; /* fixed typo */
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
}

/* left_1-1 inside left_1 */
.left_1 .left_1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
    width: 156px;
    height: 143px;
    margin-bottom: 30px;
    background-color: none;  /* box color */
}

/* marginer */
.main_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-top: 39px;
    margin-left: 40px;
    margin-bottom: 25px;
    border: 15px solid #f0f0f6;
}

.left_1-2 {
    position: relative;
    width: auto;          
    height: 22px;         
    margin-bottom: 6px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    display: flex;
    justify-content: center; 
    align-items: center;    
    text-transform: capitalize;
    color: #2b2b2b;
    text-align: center;      
}

/* left_2 box */
/* .main_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    background-color: aqua;
} */

.main_frame .left_frame .marginer {
  position: relative;
  width: 220px;
  height: 0;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1px solid #f0f0f6;
}

.main_frame .left_frame .left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.main_frame .left_frame .left_2 .left_2_info {
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* left_3 box */
.main_frame .left_frame .left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_frame .left_frame .left_3 strong {
  width: 200px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.main_frame .left_frame .left_3 .left_3_info {
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main_frame .left_frame .left_3 .left_3_info span {
  width: 60px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #767676;
}

.main_frame .left_frame .left_3 .left_3_info p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #767676;
}
/* left_4 box */
.main_frame .left_frame .left_4 {
  position: relative;
  width: 220px;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
  margin-top: 5px;
}

.main_frame .left_frame .left_4 strong {
  width: 200px;
  display: flex;
  align-items: start;
  justify-content: start;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.main_frame .left_frame .left_4 .left_4_info {
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main_frame .left_frame .left_4 .left_4_info span,
p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #767676;
}

.left_info_margin .margin_line_4_1 {
  width: 90%;
  border: 2px solid #ffb400;
}

.left_info_margin .margin_line_4_2 {
  width: 85%;
  border: 2px solid #ffb400;
}

.left_info_margin .margin_line_4_3 {
  width: 80%;
  border: 2px solid #ffb400;
}

.left_info_margin .margin_line_4_4 {
  width: 75%;
  border: 2px solid #ffb400;
}

.left_info_margin .margin_line_4_5 {
  width: 85%;
  border: 2px solid #ffb400;
}


/* left_5 box */
.main_frame .left_5 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
    background-color: aqua;
}

.profile-img{
    margin: 10px;
    margin-right: 20%;
}

.left-icons i {
  font-size: 24px;          /* icon size */
  margin-right: 10px;       /* spacing between icons */
  transition: transform 0.2s, color 0.2s;
  color: black;             /* icon color */
  border-radius: 50%;       /* circular background */
  background: #ffb400;      /* background color */
  padding: 5px;             /* space inside circle */
  filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25)); /* shadow */
}

.left-icons i:hover {
  transform: scale(1.2);
  color: white; /* hover color */
}


.left-icons i:hover {
  transform: scale(1.2); /* hover effect */
}


.icons{
    position: relative;
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.86%;
}

.main_frame .middle_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}
.main_frame .middle_frame .middle_top {
  position: relative;
  width: 970px;
  height: 454px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.main_frame .middle_frame .middle_top .middle_top_info {
  position: relative;
  width: 500px;
}

.main_frame .middle_frame .middle_top .middle_top_info span {
  width: 499.51px;
  height: 116.74px;
  margin-bottom: 16px;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 123.6%;
}

.main_frame .middle_frame .middle_top .middle_top_info p {
  width: 424.44px;
  height: 85.61px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main_frame .middle_frame .middle_top .middle_top_info button {
  position: relative;
  width: 154px;
  height: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10;
  padding: 16px 32px 16px 32px;
  border-radius: 5px;
  background: #ffb400;
  box-sizing: border-box;
}

